<nz-table
  nzShowSizeChanger
  [nzData]="employees"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  nzTableLayout="fixed"
  (nzQueryParams)="handleQueryParamsChange($event)"
  [nzScroll]="{ y: '600px' }"
  class="hidden sm:block"
>
  <thead>
    <tr>
      <th nzColumnKey="no">No</th>
      <th nzColumnKey="name">Nama</th>
      <th nzColumnKey="group">Grup</th>
      <th nzColumnKey="email">Status</th>
      <th nzColumnKey="email"></th>
    </tr>
  </thead>
  <tbody>
    @for(employee of employees; track employee.id; let i = $index){
    <tr>
      <td
        class="pointer"
        title="Klik untuk detail"
        (click)="showDetailModal(employee.id)"
      >
        {{ i + 1 + (pageIndex - 1) * pageSize }}.
      </td>
      <td
        class="pointer"
        title="Klik untuk detail"
        (click)="showDetailModal(employee.id)"
      >
        {{ employee.firstName }} {{ employee.lastName }}
      </td>
      <td
        class="pointer"
        title="Klik untuk detail"
        (click)="showDetailModal(employee.id)"
      >
        {{ employee.group }}
      </td>
      <td
        class="pointer"
        title="Klik untuk detail"
        (click)="showDetailModal(employee.id)"
      >
        {{ employee.status === "active" ? "Aktif" : "Tidak Aktif" }}
      </td>
      <td>
        <button
          nz-button
          class="mr-2 my-1 border-yellow-600 text-yellow-600 hover:border-yellow-500 hover:text-yellow-500"
          (click)="showEditModal(employee.id)"
        >
          Edit
        </button>
        <button nz-button nzDanger (click)="delete(employee.id)">Hapus</button>
      </td>
    </tr>
    }
  </tbody>
</nz-table>
