<div class="text-xl sm:text-2xl font-semibold text-center mb-6 sm:mb-8">
  Detail Karyawan
</div>

<div class="sm:mx-16">
  <nz-list>
    <nz-list-item class="flex flex-row justify-between items-center"
      ><div>Username :</div>
      <div>{{ employee?.username }}</div></nz-list-item
    >
    <nz-list-item class="flex flex-row justify-between items-center">
      <div>Nama :</div>
      <div>
        {{ employee?.firstName + " " + employee?.lastName }}
      </div>
    </nz-list-item>
    <nz-list-item class="flex flex-row justify-between items-center"
      ><div>Email :</div>
      <div>{{ employee?.email }}</div></nz-list-item
    >
    <nz-list-item class="flex flex-row justify-between items-center"
      ><div>Tanggal Lahir :</div>
      <div>
        {{ employee?.birthDate | date : "dd MMMM yyyy" : "+0700" : "id-ID" }}
      </div></nz-list-item
    >
    <nz-list-item class="flex flex-row justify-between items-center"
      ><div>Gaji :</div>
      <div>
        {{
          employee?.basicSalary
            | currency : "Rp. " : "symbol" : "1.0-0" : "id-ID"
        }}
      </div></nz-list-item
    >
    <nz-list-item class="flex flex-row justify-between items-center"
      ><div>Grup :</div>
      <div>{{ employee?.group }}</div></nz-list-item
    >
    <nz-list-item class="flex flex-row justify-between items-center"
      ><div>Status :</div>
      <div>
        {{ employee?.status === "active" ? "Aktif" : "Tidak Aktif" }}
      </div></nz-list-item
    >
    <nz-list-item class="flex flex-row justify-between items-center"
      ><div>Deskripsi :</div>
      <div>{{ employee?.description ?? "-" }}</div></nz-list-item
    >
  </nz-list>

  <button nz-button (click)="onBack()" class="mt-4 sm:mt-6">Ok</button>
</div>
